@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --background-color: #f5f5ff;
    --navbar-color: #ffffff;
    --mobile-nav: #ffffff80;
    --primary-color: #8176e5;
    --primary-color-dark: #4d3fbb;
    --secondary-color: #5457ed;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --social-buttons: #30303085;
    --image-border-color: #cbc7eb;
    --max-width: 1000px;
    --max-width-nav: 80%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #2f2f3b;
        --navbar-color: #202020;
        --mobile-nav: #44444480;
        --primary-color: #8176e5;
        --primary-color-dark: #4d3fbb;
        --secondary-color: #5457ed;
        --text-dark: #a9afe4;
        --text-light: #939cad;
        --extra-light: #faf5ff;
        --social-buttons: #75757585;
        --image-border-color: #5b596d;
        --max-width: 1000px;
        --max-width-nav: 80%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--navbar-color);
    z-index: 99;
}

.nav__content {
    max-width: var(--max-width-nav);
    margin: auto;
    padding: 1.5rem 1 rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: .3s;
}

nav .logo .a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1 rem;
    border: 2px solid transparent;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: .3s;
}

ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

.selectedpage {
    padding: 0.5rem 1 rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--secondary-color);
    transition: .3s;
}

.section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.section__container1 {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.midtitle {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-dark);
}

.title span {
    font-weight: 600;
}

.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.action__btns {
    display: flex;
    gap: 1rem;
}

.action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.socials__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 5px;
    padding: .5rem .55rem;
    outline: none;
    border: 2px solid #30303085;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    margin-top: 30px;
}

.contact__me {
    background-color: #e0e0e000;
    border-color: var(--primary-color);
    color: var(--text-light);
}

.contact__me:hover {
    color: var(--text-dark);
    scale: 1.15;
}

.portfolio {
    color: #ffffff;
    background-color: var(--primary-color);
}

.portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
    scale: 1.15;
}

.portfolio-wrapper {
  text-align: center;
}

.portfolio-list {
  columns: 4;
  column-gap: 1rem;
  width: fit-content;
  margin: 0 auto;
}

.wip{
    text-align: center;
    align-items: center;
    margin-top: 25%;
    color: var(--text-light);
}

.socials {
    color: #ffffff;
    background-color: var(--social-buttons);
}

.socials:hover {
    color: #ffffff;
    scale: 1.1;
}

.social-img {
    height: 32px;
    width: 32px;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);
    border: 10px solid var(--image-border-color);
    border-radius: 10%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}


.responsive1 {
    float: left;
    width: 49.99999%;
    padding: 5px;
}

.gametab {
    border: #ffffff;
    border-radius: 5px;
}

div.gallery {
    border: 1px solid var(--extra-light);
    border-radius: 10px;
}

div.gallery:hover {
    border: 1px solid #ffffff00;
    scale: 1.1;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 20%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 50%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media (width < 750px) {
    nav {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    nav .checkbox {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(120vh - 85px);
        left: 100%;
        top: 36px;
        background-color: var(--mobile-nav);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        z-index: -1;

    }

    nav #check:checked~ul {
        left: 0;
    }

    ul li a {
        font-size: 2rem;
    }

    .selectedpage {
        font-size: 2rem;
    }

    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
    }

    .image img {
        width: min(25rem, 60%);
        border-radius: 10%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .action__btns {
        margin: auto;
    }
}